[Desktop Entry]
Name=Gmerlin visualizer
Name[de]=Gmerlin visualisierer
Comment=Run visualization plugins
Comment[de]=Visualisierungs Plugins laufen lassen
Exec=gmerlin_visualizer
Icon=gmerlin-visualizer
Type=Application
Categories=Application;AudioVideo;

