[Desktop Entry]
Name=Gmerlin transcoder
Name[de]=Gmerlin transcoder
Comment=Gmerlin multimedia transcoder
Comment[de]=Gmerlin multimedia transcoder
Exec=gmerlin_transcoder
Icon=gmerlin-transcoder
Type=Application
Categories=Application;AudioVideo;

