[Desktop Entry]
Name=Gmerlin KBD
Name[de]=Gmerlin KBD
Comment=Configure the Gmerlin keyboard daemon
Comment[de]=Gmerlin keyboard daemon konfigurieren
Exec=gmerlin_kbd_config
Icon=gmerlin-kbd
Type=Application
Categories=AudioVideo;AudioVideoEditing;
