[Desktop Entry]
Name=Camelot
Name[de]=Camelot
Comment=Gmerlin webcam application
Comment[de]=Gmerlin Webcam Programm
Exec=camelot
Icon=gmerlin-camelot
Type=Application
Categories=AudioVideo;AudioVideoEditing;
