[Desktop Entry]
Name=Gmerlin mixer
Name[de]=Gmerlin mixer
Comment=Alsa mixer
Comment[de]=Alsa mixer
Exec=gmerlin_alsamixer
Icon=gmerlin-alsamixer
Type=Application
Categories=AudioVideo;Audio;Mixer;
