html, body
  {
  font-family: Verdana;  
  font-size: small;
  }


a.button
  {
  position: absolute;
  display: inline-block;
  background: #4f4f4f;
  width: 24px;
  height: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #4f4f4f;
  }

a.button:hover
  {
  border-color: #ffffff;
  }

a.button:active
  {
  background: #f0f0f0;
  border-color: #ffffff;
  }

a.prev
  {
  left: 130px;
  background-image: url(/static/icons/prev_white_24.png);
  }

a.prev:active
  {
  background-image: url(/static/icons/prev_black_24.png);
  }

a.play
  {
  left: 156px;
  background-image: url(/static/icons/play_white_24.png);
  }

a.play:active
  {
  background-image: url(/static/icons/play_black_24.png);
  }

a.stop
  {
  left: 156px;
  background-image: url(/static/icons/stop_white_24.png);
  }

a.stop:active
  {
  background-image: url(/static/icons/stop_black_24.png);
  }


a.next
  {
  left: 182px;
  background-image: url(/static/icons/next_white_24.png);
  }

a.next:active
  {
  background-image: url(/static/icons/next_black_24.png);
  }

a.repeat
  {
  left: 208px;
  background-image: url(/static/icons/repeat_white_24.png);
  }

a.repeat:active
  {
  background-image: url(/static/icons/repeat_black_24.png);
  }

a.straight
  {
  left: 208px;
  background-image: url(/static/icons/straight_white_24.png);
  }

a.straight:active
  {
  background-image: url(/static/icons/straight_black_24.png);
  }

a.shuffle
  {
  left: 208px;
  background-image: url(/static/icons/shuffle_white_24.png);
  }

a.shuffle:active
  {
  background-image: url(/static/icons/shuffle_black_24.png);
  }

a.vol_mute
  {
  left: 0px;
  background-image: url(/static/icons/vol_mute_white_24.png);
  }

a.vol_mute:active
  {
  background-image: url(/static/icons/vol_mute_black_24.png);
  }

a.vol_0
  {
  left: 0px;
  background-image: url(/static/icons/vol_0_white_24.png);
  }

a.vol_0:active
  {
  background-image: url(/static/icons/vol_0_black_24.png);
  }

a.vol_25
  {
  left: 0px;
  background-image: url(/static/icons/vol_25_white_24.png);
  }

a.vol_25:active
  {
 background-image: url(/static/icons/vol_25_black_24.png);
  }

a.vol_50
  {
  left: 0px;
  background-image: url(/static/icons/vol_50_white_24.png);
  }

a.vol_50:active
  {
  background-image: url(/static/icons/vol_50_black_24.png);
  }

a.vol_75
  {
  left: 0px;
  background-image: url(/static/icons/vol_75_white_24.png);
  }

a.vol_75:active
  {
  background-image: url(/static/icons/vol_75_black_24.png);
  }

a.show
  {
  right: 0px;
  background-image: url(/static/icons/show_white_24.png);
  }

a.show:active
  {
  background-image: url(/static/icons/show_black_24.png);
  }

a.hide
  {
  right: 0px;
  background-image: url(/static/icons/hide_white_24.png);
  }

a.hide:active
  {
  background-image: url(/static/icons/hide_black_24.png);
  }

div.volume
  {
  position: absolute;
  display: inline-block;
  background: #4f4f4f;
  width: 102px;
  height: 24px;
  left:    26px;
  top:     0px;
  border-style: solid;
  border-width: 1px;
  border-color: #4f4f4f;
  z-index:    1;
  }

div.volume_slider
  {
  position: absolute;
  display: inline-block;
  background: #4f4f4f;
  height: 24px;
  left:    0px;
  right:   50%;
  top:     0px;
  background-image: url(/static/icons/volume.png);
  z-index:    2;
  }

div.slider_outer
  {
  background: #4f4f4f;
  position:   absolute;
  left:       0px;
  top:        0px;
  right:      0px;
  height:     28px;
  z-index:    1;
  }

div.slider
  {
  background: #4f4f4f;
  position:   absolute;
  left:       0px;
  top:        0px;
  right:      0px;
  margin:     4px;
  height:     20px;
  z-index:    2;
  }

div.slider_inner
  {
  background: #8f8f8f;
  position:   absolute;
  left:       0px;
  top:        0px;
  right:      100%;
  height:     20px;
  margin:     0px;
  z-index:    3;
  }


table.timetable
  {
  height:  26px;
  position: absolute;
  margin:  0;
  padding: 0;
  border:  0;
  left:    234px;
  right:   26px;
  }

td.timetable
  {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  color:  #f8f8f8;
  font-weight: bold;
  z-index:    4;
  }

div.toolbar
  {
  background: #4f4f4f;
  position:   absolute;
  left:       0px;
  top:        28px;
  right:      0px;
  height:     26px;
  }

div.infobox
  {
  left: 0px;
  right: 0px;
  position: absolute;
  top: 54px;
  height: 170px;
  }

div.cover
  {
  position: absolute;
  width:    160px;
  height:   160px;
  padding:  5px;
  left: 0px;
  top:  0px;
  }

div.trackinfo
  {
  position: absolute;
  height:   160px;
  padding:  5px;
  left:     170px;
  right:    0px;
  }

div.playlist
  {
  position: absolute;
  top: 224px;
  bottom: 26px;
  left: 1px;
  right: 1px;
  overflow-y: scroll;
  border: inset;
  border-width: 1px;
  }

tr.playlist
  {
  font-size: small;  
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
  }

tr.current
  {
  font-weight: bold;
  }

tr.selected
  {
  background:   #000000;
  color:        #ffffff;
  border-color: #000000;
  }

div.plstoolbar
  {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 26px;
  bottom: 0px;
  margin:  0;
  padding: 0;
  }

a.plsbutton
  {
  position: absolute;
  display: inline-block;
  background: #ffffff;
  width: 24px;
  height: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  }

a.plsbutton:hover
  {
  border-color: #000000;
  }

a.plsbutton:active
  {
  background:   #000000;
  border-color: #000000;
  }

a.up
  {
  left: 0px;
  background-image: url(/static/icons/up_black_24.png);
  }

a.up:active
  {
  background-image: url(/static/icons/up_white_24.png);
  }

a.down
  {
  left: 26px;
  background-image: url(/static/icons/down_black_24.png);
  }

a.down:active
  {
  background-image: url(/static/icons/down_white_24.png);
  }

a.load
  {
  left: 52px;
  background-image: url(/static/icons/load_black_24.png);
  }

a.load:active
  {
  background-image: url(/static/icons/load_white_24.png);
  }

a.save
  {
  left: 78px;
  background-image: url(/static/icons/save_black_24.png);
  }

a.save:active
  {
  background-image: url(/static/icons/save_white_24.png);
  }

a.delete
  {
  left: 104px;
  background-image: url(/static/icons/delete_black_24.png);
  }

a.delete:active
  {
  background-image: url(/static/icons/delete_white_24.png);
  }
