html, body
  {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Verdana;  
  font-size: small;
  }

div.browser
  {
  display: inline-block;
  overflow-y: scroll;
  border: inset;
  border-width: 1px;
  }

div.tree_elem
  {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  }

div.handleopen
  {
  background-image:url(/static/icons/handle_open_16.png);
  }

div.handleclosed
  {
  background-image:url(/static/icons/handle_closed_16.png);
  }

div.folderopen
  {
  background-image:url(/static/icons/folder_open_16.png);
  }

div.folderclosed
  {
  background-image:url(/static/icons/folder_closed_16.png);
  }

div.treerow
  {
  width: 100%;
  margin-top: 5px;
  vertical-align: middle;
  color: #000000;
  background-color: #ffffff;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  }

div.treerow_selected
  {
  color: #ffffff;
  background-color: #000000;
  }

table.mediaitem
  {
  font-size: small;
  width: 100%;
  }

tr.mediaitem_title
  {
  font-weight: bold;
  }

span.albumtitle
  {
  font-size: small;  
  font-weight: bold;
  white-space: normal;
  }

span.albuminfo
  {
  font-size: small;  
  white-space: normal;
  }

img.albumcover
  {
  border: inset;
  border-width: 1px;
  }

a.button
  {
  display: inline-block;
  vertical-align: middle;
  background: #ffffff;
  width: 16px;
  height: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  }

a.button:hover
  {
  border-color: #000000;
  }

a.button:active
  {
  background: #000000;
  border-color: #000000;
  }

a.play
  {
  background-image: url(/static/icons/play_black_16.png);
  }

a.play:active
  {
  background-image: url(/static/icons/play_white_16.png);
  }

a.add
  {
  background-image: url(/static/icons/add_black_16.png);
  }

a.add:active
  {
  background-image: url(/static/icons/add_white_16.png);
  }

